header {
  padding-right: 0%;
  display: flex;
  height: 180px;
  justify-content: space-between;
  align-items: center;
  background-color: black;

  background-image: url(../img/fondo\ contacto.jpg);
  background-size: auto;
  background-attachment: fixed;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xxx-large;
}
.carta {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
:root {
  --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  --color-primary: #667eea;
  --color-secondary: #764ba2;
  --boton-padding: 20px 40px;
}
.container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}
.subtitle {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 35px;
  
}
.hero {
  height: 100vh;
  background-image: var(--background), url(../);
}
.title {
  width: 80%;
  margin: 0 auto;
  object-position: top;
}
.text {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  margin-top: 30px;
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;
  padding: var(--boton-padding);
  border-radius: 40px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.titleb {
  display: flex;
}
.about {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80px;
  justify-items: center;
  align-items: center;
}
.about__img {
  text-align: center;
}
.about__img--left {
  text-align: left;
}
.about_picture {
  max-width: 80%;
}
.about_paragraph {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
}

nav {
  display: flex;
  gap: 20px;
  margin-right: 10px;
  }
nav a {
  color: white;
  text-decoration: none;
}
footer {
  color: white;
  background: black;
  padding: 50px 30px;
}
footer a {
  color: white;
  text-decoration: none;
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .logop{
    max-width: 50%;
  }
  body{
    background-color: white;

  }
  nav{flex-direction: column;
  }
  main{
    flex-direction: column;
   }
   .gallery{
    flex-direction: column;
    
  }
  .cursos{
    flex-direction: column;
  }
  .imagine{
    display: block;
    float:initial;
  }
  header{
    max-width: auto;
  }
   }
  
  
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 968px){
  .body{
    background-color: white;

  }
  nav{flex-direction: column;
  }
  main{
    flex-direction: column;
   }
   .gallery{
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .cursos{
    flex-direction: column;
  }
  .imagine{
    display: block;
    float:initial;
  }
}

  


  /* Desktop */
  @media only screen and (min-width: 969px) {
    body{
      background-color:white
      
    }
    }